@import "tailwindcss";
*{
    background: black;
    color: white;
}
 button{
    background-color: green;
    padding: 4px;
    
 }

    button:hover{
        background-color: aqua;
    }
 button:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #2c80b4;
}